<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xl-6" style="height: 430px;width: 600px;">
                <div class="team-member"><iframe allowfullscreen="" frameborder="0" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.3874943728583!2d6.973303199999998!3d43.5568082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ce825cdf9e5fb9%3A0x1834fd3d985f0a03!2s16%20Av.%20Fran%C3%A7ois%20Tuby%2C%2006150%20Cannes!5e0!3m2!1sfr!2sfr!4v1701475755805!5m2!1sfr!2sfr" width="100%" height="400"></iframe></div>
            </div>
            <div class="col-sm-4" style="width: 450px; padding-right: 30px;">
                <div class="team-member">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col d-flex flex-column justify-content-center align-items-center" style="height: 50px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-clock" style="font-size: 27px;width: 40px;height: 40px;">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"></path>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"></path>
                        </svg></div>
                    <div class="col d-flex flex-column justify-content-center align-items-center" style="height: 53px;">
                        <p style="font-family: 'Kaushan Script', serif;font-size: 25px;margin-bottom: -1px;">9h - 19h (fermé le dimanche)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex flex-column justify-content-center align-items-center" style="height: 50px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-telephone text-body-emphasis" style="width: 40px;height: 40px;font-size: 50px;margin-top: 10px;">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                        </svg></div>
                    <div class="col" style="height: 53px;">
                        <p class="d-flex flex-column justify-content-center align-items-center" style="font-size: 25px;margin-bottom: -2px;margin-top: 10px;font-family: 'Kaushan Script', serif;"><a href="tel:0613526737" id="tel">06.13.52.67.37</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex flex-column justify-content-center align-items-center" style="height: 50px;"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor" style="font-size: 50px;margin-top: 10px;width: 40px;">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"></path>
                        </svg></div>
                    <div class="col" style="width: 225px;">
                        <p class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 10px;margin-bottom: 0px;font-size: 16px;font-family: 'Kaushan Script', serif; padding-right: 10px;"><a href="mailto:therapycupping57@gmail.com" id="tel">therapycupping57@gmail.com</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex flex-column justify-content-center align-items-center" style="height: 50px;"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor" style="font-size: 50px;margin-top: 10px;width: 40px;">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M20.5 3l-.16.03L15 5.1 9 3 3.36 4.9c-.21.07-.36.25-.36.48V20.5c0 .28.22.5.5.5l.16-.03L9 18.9l6 2.1 5.64-1.9c.21-.07.36-.25.36-.48V3.5c0-.28-.22-.5-.5-.5zM15 19l-6-2.11V5l6 2.11V19z"></path>
                        </svg></div>
                    <div class="col">
                        <p class="d-flex flex-column justify-content-center align-items-center" style="margin-bottom: 0px;margin-top: 10px;font-size: 25px;font-family: 'Kaushan Script', serif;">Cannes la bocca</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>