<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">NOS Préstations</h2>
                <h3 class="section-subheading" style="font-family: 'Kaushan Script', serif;"><span style="color: var(--text-normal); background-color: var(--background-message-hover);">Harmonie et Sérénité : Notre engagement pour votre bien-être.</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal1" data-bs-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="../assets/img/massage%20ayurvédique.jpg" alt="massage ayurvédique">
                </a>
                <div class="portfolio-caption">
                    <h4>Massage ayurvédique</h4>
                    <p style="font-family: 'Kaushan Script', serif;">Objectif :&nbsp;<br>relaxation profonde, soulagement des tensions nerveuses et musculaires.</p>
                   <p style="font-family: 'Kaushan Script', serif;"><br>Durée d'une séance : 1 heure 30 minutes</p>
                    <p style="font-family: 'Kaushan Script', serif;"><br>Prix : 65<span class="euro">€</span></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal2" data-bs-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><picture>
                        <source srcset="../assets/img/massage-relaxant.webp" type="image/webp">
                        <source srcset="../assets/img/massage-relaxant.jpg" type="image/jpg">
                        <img  class="img-fluid" src="../assets/img/massage-relaxant.webp" alt="massage-relaxant">
                      </picture>
                </a>
                <div class="portfolio-caption">
                    <h4>Massage relaxant</h4>
                    <p style="font-family: 'Kaushan Script', serif;">Objectif:&nbsp;<br>relaxation totale du corps et de l'esprit.<br><br></p>
                    <p style="font-family: 'Kaushan Script', serif;"><br>Durée d'une séance : 1 heure</p>
                    <p style="font-family: 'Kaushan Script', serif;"><br>Prix : 60<span class="euro">€</span></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal3" data-bs-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/drainage%20lymphatique.jpg" alt="drainage lymphatique">
                </a>
                <div class="portfolio-caption">
                    <h4>Drainage lymphatique</h4>
                    <p style="height: 84px;font-family: 'Kaushan Script', serif;">Objectif : stimuler la circulation de la lymphe et favoriser l'élimination des toxines.<br><br></p>
                    <p style="font-family: 'Kaushan Script', serif;"><br>Durée d'une séance : 1 heure</p>
                    <p style="font-family: 'Kaushan Script', serif;"><br>Prix : 60<span class="euro">€</span> par séance<br>Forfait 10 séances : 500<span class="euro">€</span></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal5" data-bs-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div> <picture>
                        <source srcset="../assets/img/soin-anticellulaire.webp" type="image/webp">
                        <source srcset="../assets/img/soin-anticellulaire.jpg" type="image/jpg">
                        <img src="../assets/img/soin-anticellulaire.webp" class="img-fluid" alt="soin-anticellulite">
                      </picture>
                </a>
                <div class="portfolio-caption">
                    <h4>Soin anticellulite</h4>
                    <p style="font-family: 'Kaushan Script', serif;">Objectif : favoriser la circulation sanguine, en raffermissant la peau et en diminuant les amas graisseux sous-cutanés.<br><br></p>
                    <!-- <p style="font-family: 'Kaushan Script', serif;">Durée d'une séance : add</p> -->
                    <p style="font-family: 'Kaushan Script', serif;"><br><br>Prix : 60<span class="euro">€</span><br><br></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item" routerLink="/test"><a class="portfolio-link" href="#portfolioModal6" data-bs-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/microneedling.jpg" alt="microneedling">
                </a>
                <div class="portfolio-caption">
                    <h4>Microneedling</h4>
                    <p style="font-family: 'Kaushan Script', serif;">Objectif : améliorer la qualité de la peau en stimulant la production de collagène et d'élastine.<br><br></p>
                     <p style="font-family: 'Kaushan Script', serif;">Durée d'une séance : Varie selon les besoins du patient.</p> 
                    <p style="font-family: 'Kaushan Script', serif;"><br>Prix : 80<span class="euro">€</span><br><br></p>
                </div>
            </div>
        </div>
    </div>
</section>