<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName"></label>
    <input class="form-control" id="firstName" placeholder="Prénom:" type="text" formControlName="firstName" required />
  </div>
  <div>
    <label for="lastName"></label>
    <input class="form-control" id="lastName" type="text" placeholder="Nom:" formControlName="lastName" required />
  </div>
  <div>
    <label for="email"></label>
    <input class="form-control" id="email" type="email" placeholder="E-mail:" formControlName="email" required />
  </div>
  <div>
    <div>
      <label for="selectedDate">Séléctionez une date:</label>
      <input id="selectedDate" class="form-control" placeholder="Date:"type="date" formControlName="selectedDate" required />
    </div>
    <div>
        <label for="selectedTime">Choisissez une horaire (9h-19h):</label>
        <input  class="form-control" id="selectedTime" type="time" formControlName="selectedTime" required />
      </div>
  </div>
  <div>
    <label class="message" for="message"></label>
    <textarea class="form-control" id="message" formControlName="message" placeholder="Ajoutez des détails supplémentaires ou des demandes spéciales ici . . .(facultatif)" rows="6" required></textarea>
  </div>
  <div>
    <button class="btn btn-primary btn-xl text-uppercase" type="submit" [disabled]="!form.valid">Envoyer</button>
  </div>
</form>