label{
    text-align: center;
    color: white;
    padding: 10px;
}
form{
    align-items: center;
    margin: auto;
    text-align: center;
}
.form-control{
    margin: auto;
    text-align: center;
    width: 500px;
}