label{
  
    color: white;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 0.8px;
}
form{
    align-items: center;
    margin: auto;
    text-align: center;
}
.form-control{
    margin: auto;
    width: 400px;
}
::placeholder{
    color:#8b741e !important;
    opacity: 0.5;
}
input{
    font-weight: bold;
    color: #8b741e !important;
}
.message{
    ::placeholder{
    opacity: 0.2 !important;
    }
}
.btn{
    margin: 2%;
    background-color: #8b741e;
    color: white;
    border: #8b741e;
}
.btn:hover{
    background-color: #facc36;
}
@media (max-width: 600px) {
    .form-control{
        width: 80%;
    }
    
}
