<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="mainNav" [ngClass]="{'navbar-transparent': isNavbarTransparent, 'navbar-colored': !isNavbarTransparent}">
        <div class="container"><a class="navbar-brand" href="#page-top"><picture>
            <img src="assets/img/logo-transparent-png.png" width="72" alt="logo" height="11" style="width: 220px;height: 60px;border-color: white;"></picture></a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto text-uppercase">
                        <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="#services" style="font-family: 'Kaushan Script', serif;">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="#portfolio" style="font-family: 'Kaushan Script', serif;">Services</a></li>
                        <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="#team" style="font-family: 'Kaushan Script', serif;">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" routerLink="register" href="#team" style="font-family: 'Kaushan Script', serif;">Login/Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact" style="padding-left: 3px;margin-left: 0px;"><button class="btn btn-primary" id="rdv" data-bss-hover-animate="pulse" type="button" style="padding-bottom: 8px;margin-right: -2px;margin-bottom: 0px;padding-top: 5px;margin-top: -6px;font-family: Montserrat, sans-serif;background: rgb(138,97,92);border-style: none; font-weight: bold;">Rendez-vous</button></a></li>
                        <li class="list-inline-item"><a data-bss-hover-animate="pulse" href="tel:0613526737"><i class="fa fa-phone" id="fa"></i></a></li>
                        <li class="list-inline-item"><a data-bss-hover-animate="pulse" href="https://instagram.com/cupping_therapy_cannes?igshid=YTQwZjQ0NmI0OA==" target="_blank"><i class="fa fa-instagram" id="fa"></i></a></li>
                        <li><img src="assets/img/signature.png" alt="signature" style="height: 80px; width: 80px; padding-left: 0; position: absolute;"></li>
                    </ul>
                </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© CSI 2023</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a data-bss-hover-animate="pulse" href="tel:0613526737"><i class="fa fa-phone"></i></a></li>
                        <li class="list-inline-item"><a data-bss-hover-animate="pulse" href="https://instagram.com/cupping_therapy_cannes?igshid=YTQwZjQ0NmI0OA==" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Mention légal</a></li>
                        <li class="list-inline-item end">Cannes Therapy Cannes</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h4 class="text-uppercase">Massage ayurvédique</h4>
                                <p class="text-muted item-intro">Cannes Therapy</p><img class="img-fluid d-block mx-auto" alt="massage ayurvédique" src="../assets/img/massage ayurvédique.jpg">
                                <p>Relaxation profonde, soulagement des tensions nerveuses et musculaires.</p>
                                <ul class="list-unstyled">
                                    <li>Durée: 1h30</li>
                                    <li>Prix: 65€</li>
                                    <li>Catégorie: Massage</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h4 class="text-uppercase">Massage relaxant</h4>
                                <p class="text-muted item-intro"></p><img class="img-fluid d-block mx-auto" alt="massage-relaxant" src="../assets/img/massage relaxant.jpg">
                                <p>Relaxation totale du corps et de l'esprit.</p>
                                <ul class="list-unstyled">
                                    <li>Durée d'une séance : 1 heure</li>
                                    <li>Prix : 60€</li>
                                    <li>Catégorie: Massage</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h4 class="text-uppercase">Drainage lymphatique</h4>
                                <p class="text-muted item-intro">Cannes Therapy</p><img class="img-fluid d-block mx-auto" alt="drainage lymphatique" src="../assets/img/drainage lymphatique.jpg">
                                <p>Objectif : Stimuler la circulation de la lymphe et favoriser l'élimination des toxines.</p>
                                <ul class="list-unstyled">
                                    <li>Durée d'une séance : 1 heure</li>
                                    <li>Prix : 60€ par séance</li>
                                    <li>Forfait 10 séances : 500€</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h4 class="text-uppercase">Soin anticellulite</h4>
                                <p class="text-muted item-intro">Cannes Therapy</p><img class="img-fluid d-block mx-auto" alt="soin-anticellulite" src="../assets/img/soin anticellulaire.jpg">
                                <p>Objectif : favoriser la circulation sanguine, en raffermissant la peau et en diminuant les amas graisseux sous-cutanés.</p>
                                <ul class="list-unstyled">
                                 <!--<li>Durée d'une séance : add</li>-->
                                    <li>Prix : 60€</li>
                                    <li>Catégorie: Bien-être et beauté</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal6">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h4 class="text-uppercase">Microneedling</h4>
                                <p class="text-muted item-intro"></p><img class="img-fluid d-block mx-auto" alt="microneedling" src="../assets/img/microneedling.jpg">
                                <p>Objectif : améliorer la qualité de la peau en stimulant la production de collagène et d'élastine.</p>
                                <ul class="list-unstyled">
                                   <!-- <li>Durée d'une séance : add</li> -->
                                    <li>Prix : 80€</li>
                                    <li>Catégorie: Bien-être et beauté</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
