<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase" style="font-family: 'Kaushan Script', serif;padding-bottom: 0px;margin-bottom: 85px;">A propos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group timeline">
                    <li class="list-group-item">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" alt="Certificat" src="../assets/img/djilma.png"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2006-2007</h4>
                                <h4 class="subheading">Certificat Homéopathie</h4>
                            </div>
                            <div class="timeline-body"></div>
                        </div>
                    </li>
                    <li class="list-group-item timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" alt="Certificat" src="../assets/img/lympho%20energsite%202.png"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2008</h4>
                                <h4 class="subheading">Certificat de praticien Lympho-energiste corps et visage</h4>
                            </div>
                            <div class="timeline-body"></div>
                        </div>
                    </li>
                    <li class="list-group-item timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" alt="Certificat" src="../assets/img/lifiting.png"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2020</h4>
                                <h4 class="subheading">Certificat de lifting colombien</h4>
                            </div>
                            <div class="timeline-body"></div>
                        </div>
                    </li>
                    <li class="list-group-item timeline-inverted">
                        <div class="timeline-image">
                            <h4>Prenez<br>&nbsp;Soin de<br>&nbsp;Vous</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>